.App {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#sidebar-section {
  flex-grow: 5;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#main {
  flex-grow: 8;
  background:white;
  padding: 1rem;
}


@media screen and (max-width: 768px){
  #sidebar-section {
    flex-grow:2;
  }
}

@media screen and (max-width: 480px){
  .App {
    display: block
  }
  
}